---
layout: default
css: "about.css"
---

<div class="about">
    <h1>À Propos</h1>
    <h2>Description</h2>
    <p>
        Cette page a pour but de vous fournir des informations me concernant et concernant ce site. <br>
        Pour toute question, vous pouvez me contacter en allant dans la section contact ou en cliquant sur le lien de mon email en bas de la page.
    </p>

    <h2>À Propos de moi</h2>
    <p>
        Actuellement en Master Informatique, spécialité Ingénierie Logicielle pour les Jeux (ILJ).<br>
        Si mon profil vous intéresse, n'hésitez pas à me contacter. <br>
        Informations personnelles :
    </p>
    <ul>
        <li>Nom : {{ site.lastname }}</li>
        <li>Prénom : {{ site.firstname }}</li>
        <li>
            {% assign birth_date = site.birth_date | date: "%s" %}
            {% assign now = "now" | date: "%s" %}
            {% assign seconds_per_year = 31536000 %}
            {% assign age = now | minus: birth_date | divided_by: seconds_per_year %}

            Âge: {{ age }} ans.
        </li>
        <li>Pays : {{ site.country }}</li>
        <li>Profession : {{ site.profession }}</li>
        <li class="tabContainer">
            Compétences :
            <table class="tab">
                <thead>
                <tr>
                    <th>Langages</th>
                    <th>Software</th>
                    <th>Frameworks</th>
                    <th>OS</th>
                </tr>
                </thead>
                <tbody id="tabCompBody">
                    {% assign languages = "" | split: "," %}
                    {% assign softwares = "" | split: "," %}
                    {% assign frameworks = "" | split: "," %}
                    {% assign oss = "" | split: "," %}

                    {% for comp_entry in site.data.competences %}
                        {% assign comp = comp_entry[1] %}
                        {% if comp.category == "Language" %}
                            {% assign languages = languages | push: comp %}
                        {% elsif comp.category == "Software" %}
                            {% assign softwares = softwares | push: comp %}
                        {% elsif comp.category == "Framework" %}
                            {% assign frameworks = frameworks | push: comp %}
                        {% elsif comp.category == "OS" %}
                            {% assign oss = oss | push: comp %}
                        {% endif %}
                    {% endfor %}

                    {% assign size_lang = languages.size %}
                    {% assign size_soft = softwares.size %}
                    {% assign size_frame = frameworks.size %}
                    {% assign size_os = oss.size %}

                    {% assign max_size = size_lang %}
                    {% if size_soft > max_size %}{% assign max_size = size_soft %}{% endif %}
                    {% if size_frame > max_size %}{% assign max_size = size_frame %}{% endif %}
                    {% if size_os > max_size %}{% assign max_size = size_os %}{% endif %}

                    {% for i in (0..max_size) %}
                        {% if i < max_size %}
                        <tr>
                            <td>
                                {% if i < size_lang %}
                                    <a href="{{ languages[i].link }}" target="_blank">{{ languages[i].name }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if i < size_soft %}
                                    <a href="{{ softwares[i].link }}" target="_blank">{{ softwares[i].name }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if i < size_frame %}
                                    <a href="{{ frameworks[i].link }}" target="_blank">{{ frameworks[i].name }}</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if i < size_os %}
                                    <a href="{{ oss[i].link }}" target="_blank">{{ oss[i].name }}</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </li>
        <li>Projets : Pour avoir la liste des projets, retournez à la page d'accueil.</li>
        <li>Email : <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li>Téléphone : 07 84 17 26 58</li>
    </ul>

    <h2>À Propos du site</h2>
    <p>
        Ce site a pour objectif de vous présenter mes projets, mes compétences et diverses informations sur moi.
    </p>
    <br>
</div>
