---
layout: default
css: "index.css"
js: "index.js"
---

<div class="banner">
    <img loading="lazy" src="/assets/media/dev.webp"
         alt="Illustration montrant un ordinateur portable affichant du code,
         entouré de bulles contenant les logos de technologies de développement :
         Unreal Engine, Unity, C++, Java, Python, C, Vulkan et OpenGL.">
    <div class="titre-dev">
        <p id="typewriter">{{ site.profession }}</p>
        <a class="button-cv" href="/assets/CV.pdf">Voir mon CV</a>
    </div>
</div>
<div class="projects-wrapper">
    <hr class="solid">
    <h1>Project</h1>
    <div id="projects">
        {% assign projects = site.projects | sort: "lastUpdate" | reverse %}
        {% assign portfolio = "" %}
        {% for project in projects %}
            {% if project.name == "Portfolio" %}
                {% assign portfolio = project %}
            {% else %}
                {% include project-card.html project=project %}
            {% endif %}
        {% endfor %}
        {% if portfolio != "" %}
            {% include project-card.html project=portfolio %}
        {% endif %}
    </div>
</div>