:root {
    --bg-default: #3b3b3b;
    --fg-default: white;

    --bg-navbar: dodgerblue;
    --bg-banner: #14b5d0;
    --bg-btn: #1a3785;

    --bg-surface: color-mix(in srgb, var(--bg-default), white 10%);
    --bg-base: var(--bg-default);
    --bg-dim: color-mix(in srgb, var(--bg-default), black 10%);
    --bg-deep: color-mix(in srgb, var(--bg-default), black 20%);
    --bg-abyss: color-mix(in srgb, var(--bg-default), black 50%);
    --bg-voidlike: color-mix(in srgb, var(--bg-default), black 90%);

    --fg-base: var(--fg-default);
    --fg-dim: color-mix(in srgb, var(--fg-default), var(--bg-default) 20%);
    --fg-deep: color-mix(in srgb, var(--fg-default), var(--bg-default) 50%);

    --bg-btn-border: color-mix(in srgb, var(--bg-btn), white 30%);

    --bg-img: var(--bg-voidlike);
    --bg-footer: var(--bg-deep);
    --fg-p: var(--fg-deep);
}

* {
    background-color: var(--bg-base);
    color: var(--fg-base);
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    text-align: center;
    font-size: 64px;
    margin: 20px 0;
}

.navbar, .navbar * {
    background-color: var(--bg-navbar);
}

.navbar {
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 100;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
}

.navbar-links li {
    font-size: 1.2rem;
    padding: 0 0.8rem;
    background-color: transparent;
    list-style: none;
    transition: all .3s ease 0s;
}

.navbar-links li:hover {
    z-index: 1;
    transform: scale(1.2);
    transition: all .3s ease 0s;
}

a {
    text-decoration-color: currentColor;
    text-decoration-line: none;
    display: block;
}

.name {
    font-size: 1.8rem;
    margin: 0 1.5rem;
    transition: all .3s ease 0s;
}

.name:hover {
    transform: scale(1.1);
    transition: all .3s ease 0s;
}

.empty {
    background-color: var(--bg-btn);
    width: 100%;
    height: 60px;
}

.footer, .footer * {
    background-color: var(--bg-footer);
}

.footer {
    padding: 16px 0;
    width: 100%;
}

hr.solid {
    border-top: 1px solid;
    color: var(--fg-p);
    width: 30%;
    margin: auto;
}

.footer .social {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}

.footer .social a {
    border: 1px solid var(--fg-p);
    border-radius: 50%;
    font-size: 30px;
}

.footer .social a:hover {
    border: 1px solid var(--fg-base);
    color: var(--fg-base);
}

.footer a:hover {
    color: var(--fg-base);
    transform: scale(1.1);
    transition: all .3s ease 0s;
}

.footer ul {
    font-size: 18px;
    line-height: 1.6;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    padding: 0 10px;
}

.footer ul li a, .footer ul li p {
    display: inline-block;
    color: inherit;
    opacity: .4;
    text-decoration: none;
}

.footer .copyright {
    color: var(--fg-dim);
    font-size: 15px;
    margin-top: 15px;
    text-align: center;
}

.footer .social a, .footer .social p {
    color: inherit;
    display: inline-block;
    height: 40px;
    line-height: 38px;
    margin: 0 1px;
    opacity: .4;
    text-align: center;
    width: 40px;
}

.footer .social p {
    font-size: 20px;
}

.titre-dev {
    background-image: url("./assets/images/dev.jpg");
    background-color: var(--bg-banner);
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto 448px;
    background-position-x: center;
    background-position-y: 60px;
    display: flex;
    flex-direction: column;
    height: 448px;
    justify-content: center;
    width: 100%;
}

.titre-dev p {
    font-size: 260%;
    background: transparent;
    padding-top: 54px;
}

.button-cv {
    background-color: var(--bg-btn);
    border: 2px solid var(--bg-btn-border);
    border-radius: 50px;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin: 25px 0;
    transition: all .3s ease 0s;
}

.button-cv:hover {
    transform: scale(1.5);
}

#project {
    display: flex;
    flex-direction: row;
    background-image: none;
    box-shadow: var(--bg-surface) 1px 15px 30px 1px;
    border-radius: 1rem;
    min-height: 20rem;
    max-width: 60rem;
    width: 95%;
    margin: 5vh auto;
    overflow: hidden;
}

.media {
    flex: 1;
    background-color: var(--bg-img);
    display: flex;
    min-width: 0;
    container-type: size;
}

.media img, .media video {
    image-rendering: high-quality;
    object-fit: contain;
    background-color: var(--bg-img);
    margin: auto;
    width: 100cqw;
    height: 100cqh;
}

.project-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
}

.project-details h1 {
    font-size: 3rem;
    margin-top: -0.25rem;
    margin-bottom: 0.1rem;
    text-align: left;
}

.project-details p {
    color: var(--fg-p);
    font-size: 1rem;
    margin-bottom: 2rem;
}

.control {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    margin-bottom: 0.5rem;
}

.badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: auto;
    margin-bottom: 1.5rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.badges a {
    background: var(--bg-surface);
    margin: 0 0.15rem;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    border: 1px solid var(--fg-p);
    transition: 0.2s;
    display: inline-block;
}

.badges a[href]:hover {
    transform: scale(1.15);
    background: var(--bg-btn);
    color: var(--fg-base);
}

.btn {
    background-color: var(--bg-btn);
    background-image: none;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    transform: translateY(0);
}

.btn a {
    color: inherit;
    background: transparent;
}

.btn .code, .logo-github {
    background-color: var(--bg-surface);
    background-image: none;
    border: 0;
    margin: 0;
}

.btn .code {
    padding-right: 7px;
    transform: translateX(-10%);
}

.btn .logo-github {
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    z-index: 1;
}

.btn span {
    display: inline-block;
    font-family: Farsan,cursive;
    font-size: 1.2em;
    margin: 0;
    padding: 10px 10px;
}

.btn .github {
    font-weight: bolder;
    z-index: 3;
    background: transparent;
}

.about {
    margin: 50px auto;
    width: 75%;
    background-color: var(--bg-dim);
    box-shadow: var(--bg-surface) 1px 15px 30px 1px;
    border-radius: 16px;
    padding: 20px;
}

.about * {
    margin: 10px 0;
    background-color: var(--bg-dim);
}

.about p {
    margin: 20px 0;
}

.about h2 {
    padding-top: 20px;
}

.tab {
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
}

.tab thead * {
    background-color: var(--bg-surface);
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

.tab tbody * {
    padding: 8px;
}

.tab tbody td:nth-child(even), .tab tbody td:nth-child(even) * {
    background-color: var(--bg-dim);
}

.tab tbody td:nth-child(odd), .tab tbody td:nth-child(odd) * {
    background-color: var(--bg-base);
}

.tabContainer, .tabContainer * {
    background-color: var(--bg-abyss);
}

.contact {
    margin: 50px auto;
    box-shadow: var(--bg-surface) 1px 15px 30px 1px;
    padding: 20px;
}

.contact h1 {
    width: 100%;
}

.contact, .contact * {
    width: 70%;
    background-color: var(--bg-deep);
    border-radius: 16px;
}

.contact form input {
    background-color: var(--bg-surface);
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px); /* Adjust for padding */
    box-sizing: border-box;
}

form {
    margin: 2em auto;
    width: 100%;
}

#name, #email, #message {
    width: calc(100% - 22px); /* Adjust for padding */
    box-sizing: border-box;
}

#name, #email {
    height: 40px;
}

#message {
    height: 200px;
    resize: vertical; /* Allow vertical resizing */
}

#submit {
    background-color: var(--bg-banner);
    border-color: var(--bg-btn);
    border-radius: 6px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

#container {
    padding-bottom: 50px;
}

.date {
    font-size: 0.9em;
    color: var(--fg-p);
    padding: 0 10px;
}