* {
    background-color: #3b3b3b;
    color: antiquewhite;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    text-align: center;
    font-size: 64px;
    margin: 20px 0;
}

.navbar, .navbar * {
    background-color: dodgerblue;
}

.navbar {
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 100;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    font-size: 1.2rem;
    padding: 1rem;
    list-style: none;
    transition: all .3s ease 0s;
}

.navbar-links li:hover {
    font-size: 1.5rem;
}

a {
    text-decoration-color: currentColor;
    text-decoration-line: none;
    display: block;
}

.name {
    font-size: 1.8rem;
    margin: .5rem;
}

.name:hover {
    font-size: 2.0rem;
}

.empty {
    background-color: #1a3785;
    width: 100%;
    height: 60px;
}

.footer, .footer * {
    background-color: #2f2f2f;
}

.footer {
    padding: 16px 0;
    width: 100%;
}

hr.solid {
    border-top: 1px solid #757575;
    color: #707070;
    width: 30%;
    margin: auto;
}

.footer .social {
    color: dimgray;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}

.footer .social a {
    border: 1px solid #c7c7c7;
    border-radius: 50%;
    font-size: 30px;
}

.footer .social a:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.footer a:hover {
    color: #ffffff;
}

.footer ul {
    font-size: 18px;
    line-height: 1.6;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    padding: 0 10px;
}

.footer ul li a, .footer ul li p {
    display: inline-block;
    color: inherit;
    opacity: .4;
    text-decoration: none;
}

.footer .copyright {
    color: #aaa;
    font-size: 15px;
    margin-top: 15px;
    text-align: center;
}

.footer .social a, .footer .social p {
    color: inherit;
    display: inline-block;
    height: 40px;
    line-height: 38px;
    margin: 0 1px;
    opacity: .4;
    text-align: center;
    width: 40px;
}

.footer .social p {
    font-size: 20px;
}

.titre-dev {
    background-image: url("./assets/images/dev.jpg");
    background-color: #14b5d0;
    align-items: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto 448px;
    background-position-x: center;
    background-position-y: 60px;
    display: flex;
    flex-direction: column;
    height: 448px;
    justify-content: center;
    width: 100%;
}

.titre-dev p {
    font-size: 260%;
    background: transparent;
    padding-top: 54px;
}

.button-cv {
    background-color: #1a3785;
    background-image: none;
    border-color: #1a62b0;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 25px;
    margin: 25px 0;
    transition: all .3s ease 0s;
}

.button-cv:hover {
    font-size: 150%;
}

.titre-dev a {
    background: transparent;
    color: inherit;
    text-decoration: none;
    text-decoration-color: currentColor;
}

#project {
    display: flex;
    flex-direction: row;
    background-image: none;
    box-shadow: rgb(96, 104, 108) 1px 15px 30px 1px;
    border-radius: 1rem;
    min-height: 20rem;
    max-width: 60rem;
    width: 95%;
    margin: 5vh auto;
    overflow: hidden;
}

.media {
    flex: 1;
    background-color: black;
    display: flex;
    min-width: 0;
    container-type: size;
}

.media img, .media video {
    image-rendering: high-quality;
    object-fit: contain;
    background-color: black;
    margin: auto;
    width: 100cqw;
    height: 100cqh;
}

.project-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
}

.project-details h1 {
    font-size: 3rem;
    margin-top: -0.25rem;
    margin-bottom: 0.1rem;
    text-align: left;
}

.project-details p {
    color: #989898;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.control {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    margin-bottom: 0.5rem;
}

.badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: auto;
    margin-bottom: 1.5rem;
    align-self: center;
}

.badges a {
    background: #444;
    margin: 0 0.15rem;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    border: 1px solid #555;
    transition: 0.2s;
    display: inline-block;
}

.badges a[href]:hover {
    transform: scale(1.15);
    background: #013092;
    color: #fff;
}

.btn {
    background-color: #1a3785;
    background-image: none;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    transform: translateY(0);
}

.btn a {
    color: inherit;
    background: transparent;
}

.btn .code, .logo-github {
    background-color: #4b4b4b;
    background-image: none;
    border: 0;
    margin: 0;
}

.btn .code {
    padding-right: 7px;
    transform: translateX(-10%);
}

.btn .logo-github {
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    z-index: 1;
}

.btn span {
    display: inline-block;
    font-family: Farsan,cursive;
    font-size: 1.2em;
    margin: 0;
    padding: 10px 10px;
}

.btn .github {
    font-weight: bolder;
    z-index: 3;
    background: transparent;
}

.about {
    margin: 50px auto;
    width: 75%;
    background-color: #2f2f2f;
    box-shadow: rgb(96, 104, 108) 1px 15px 30px 1px;
    border-radius: 16px;
    padding: 20px;
}

.about * {
    margin: 10px 0;
    background-color: #2f2f2f;
}

.about p {
    margin: 20px 0;
}

.about h2 {
    padding-top: 20px;
}

.tab {
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
}

.tab thead * {
    background-color: #575757;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

.tab tbody * {
    padding: 8px;
}

.tab tbody td:nth-child(even), .tab tbody td:nth-child(even) * {
    background-color: #3e3e3e;
}

.tab tbody td:nth-child(odd), .tab tbody td:nth-child(odd) * {
    background-color: #828282;
}

.tabContainer, .tabContainer * {
    background-color: #282828;
}

.contact {
    margin: 50px auto;
    box-shadow: rgb(96, 104, 108) 1px 15px 30px 1px;
    padding: 20px;
}

.contact h1 {
    width: 100%;
}

.contact, .contact * {
    width: 70%;
    background-color: #2d2d2d;
    border-radius: 16px;
}

.contact form input {
    background-color: #464646;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px); /* Adjust for padding */
    box-sizing: border-box;
}

form {
    margin: 2em auto;
    width: 100%;
}

#name, #email, #message {
    width: calc(100% - 22px); /* Adjust for padding */
    box-sizing: border-box;
}

#name, #email {
    height: 40px;
}

#message {
    height: 200px;
    resize: vertical; /* Allow vertical resizing */
}

#submit {
    background-color: #1a62b0;
    border-color: #1a3785;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

#container {
    padding-bottom: 50px;
}

.date {
    font-size: 0.9em;
    color: #bbbbbb;
    padding: 0 10px;
}