<section class="footer">
    <hr class="solid">
    <div class="social">
        <a href="https://github.com/{{ site.social.github }}" aria-label="Mon Profil Github">
            <iconify-icon icon="mdi:github"></iconify-icon>
        </a>
        <p aria-hidden="true">•</p>
        <a href="https://{{ site.social.itch }}.itch.io/" aria-label="Mon Profil Itch.io">
            <iconify-icon icon="cib:itch-io"></iconify-icon>
        </a>
        <p aria-hidden="true">•</p>
        <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}/" aria-label="Mon Profil LinkedIn">
            <iconify-icon icon="mdi:linkedin"></iconify-icon>
        </a>
        <p aria-hidden="true">•</p>
        <a href="mailto:{{ site.email }}" aria-label="Mon Adresse Mail">
            <iconify-icon icon="uiw:mail"></iconify-icon>
        </a>
    </div>
    <div class="contact">
        <a href="mailto:{{ site.email }}">
            <iconify-icon icon="uiw:mail"></iconify-icon>
            <span>{{ site.email }}</span>
        </a>
        <p aria-hidden="true">•</p>
        <a href="tel:+33{{ site.phone | remove: ' ' }}" aria-label="Mon Téléphone">
            <iconify-icon icon="mdi:telephone"></iconify-icon>
            <span>{{ site.phone }}</span>
        </a>
    </div>
    <p class="copyright"> Copyright {{ site.start_year }} - {{ "now" | date: "%Y" }} © {{ site.firstname }} {{ site.lastname }}</p>
</section>