<section class="footer">
    <hr class="solid">
    <div class="social">
        <a href="https://www.linkedin.com/in/maxime-carlier-6b9840226/" class="fa fa-linkedin-square" aria-label="Mon Profile LinkedIn"></a>
        <p>•</p>
        <a href="mailto:28m06c02@gmail.com" class="fa fa-envelope" aria-label="Mon Address Mail"></a>
        <p>•</p>
        <a href="https://github.com/Carlier-Maxime" class="fa fa-github-square" aria-label="Mon Profile Github"></a>
    </div>
    <div>
        <a href="mailto:28m06c02@gmail.com" class="fa fa-envelope" aria-hidden="true"> 28m06c02@gmail.com</a>
        <p>•</p>
        <a href="tel:+33784172658" class="fa fa-phone" aria-label="Mon Télèphone"> 07 84 17 26 58</a>
    </div>
    <p class="copyright"> Copyright {{ "now" | date: "%Y" }} © Maxime Carlier</p>
</section>