<section class="footer">
    <hr class="solid">
    <div class="social">
        <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}/" class="fa fa-linkedin-square" aria-label="Mon Profil LinkedIn"></a>
        <p>•</p>
        <a href="mailto:{{ site.email }}" class="fa fa-envelope" aria-label="Mon Adresse Mail"></a>
        <p>•</p>
        <a href="https://github.com/{{ site.social.github }}" class="fa fa-github-square" aria-label="Mon Profil Github"></a>
    </div>
    <div>
        <a href="mailto:{{ site.email }}" class="fa fa-envelope" aria-hidden="true"> {{ site.email }}</a>
        <p>•</p>
        <a href="tel:+33{{ site.phone | remove: ' ' }}" class="fa fa-phone" aria-label="Mon Téléphone"> {{ site.phone }}</a>
    </div>
    <p class="copyright"> Copyright {{ site.start_year }} - {{ "now" | date: "%Y" }} © {{ site.firstname }} {{ site.lastname }}</p>
</section>