<nav class="navbar">
    <div class="profile-area">
        <img class="profile-photo" src="/assets/media/self.webp" alt="Photo de moi" fetchpriority="high">
        <div class="profile-name-area">
            <span class="profile-name">{{ site.firstname }} {{ site.lastname }}</span>
            <span class="profile-job">{{ site.profession }}</span>
        </div>
    </div>
    <div class="nav-area">
        {% assign home_url = '/' | relative_url %}
        <a class="btn-ghost {% if page.id == 'home' %}is-active{% endif %}" href="{{ home_url }}">
            <iconify-icon icon="gridicons:house"></iconify-icon>
            <span>Accueil</span>
        </a>
        {% assign about_url = '/about.html' %}
        <a class="btn-ghost {% if page.url == about_url %}is-active{% endif %}" href="{{ about_url }}">
            <iconify-icon icon="mdi:about-circle-outline"></iconify-icon>
            <span>A Propos</span>
        </a>
        </a>
    </div>
    <div class="stats-area">
        <span class="stat-area rank btn-badge">
            <iconify-icon icon="noto:graduation-cap"></iconify-icon>
            <span class="stat-value">{{ site.education_level }}</span>
        </span>
        <span class="stat-area country btn-badge">
            <iconify-icon icon="fxemoji:franceflag"></iconify-icon>
            <span class="stat-value">{{ site.country }}</span>
        </span>
        <span class="stat-area age btn-badge">
            <iconify-icon icon="fa:birthday-cake"></iconify-icon>
            <span class="stat-value">
                {% assign birth_date = site.birth_date | date: "%s" %}
                {% assign now = "now" | date: "%s" %}
                {% assign seconds_per_year = 31536000 %}
                {% assign age = now | minus: birth_date | divided_by: seconds_per_year %}
                {{ age }}
            </span>
        </span>
        <a class="stat-area source-code btn-badge" href="{{ site.repository }}">
            <iconify-icon icon="mdi:github"></iconify-icon>
        </a>
    </div>
    <div class="action-area">
        <a class="button-cv btn-solid" href="/assets/CV.pdf">Voir mon CV</a>
    </div>
</nav>