<div class="project">
    <div class="project-details">
        <h1>{{ include.project.name }}</h1>
        <p class="description">{{ include.project.description }}</p>
        <div class="badges">
            {% for comp_key in include.project.competences %}
                {% assign comp = site.data.competences[comp_key] %}
                {% if comp %}
                    <a {% if comp.link %}href="{{ comp.link }}"{% endif %}> {{ comp.name }} </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="control">
            <div class="date"><span class="date-name">Date de début</span><br><span class="date">{{ include.project.startDate }}</span></div>
            <a class="btn-source" href="{{ include.project.link }}">
                <div class="icon-side">
                    <iconify-icon icon="mdi:github"></iconify-icon>
                </div>
                <span>Github</span>
            </a>
            <div class="date"><span class="date-name">Dernière MAJ</span><br><span class="date">{{ include.project.lastUpdate }}</span></div>
        </div>
    </div>
    <div class="media-container">
        {% assign baseName = include.project.name %}
        {% assign videoSrc = baseName | prepend: site.videoDir | append: ".webm" %}
        {% assign videoFile = site.static_files | where: "path", videoSrc | first %}
        {% if videoFile %}
            <canvas class="bg-blur" aria-hidden="true"></canvas>
            {% assign posterSrc = baseName | prepend: site.posterDir | append: ".webp" %}
            <video class="main-media zoomable" data-poster= "{{ posterSrc }}"
                   preload="none" data-src="{{ videoSrc }}" autoplay loop muted playsinline>
            </video>
        {% else %}
            {% assign imgSrc = baseName | prepend: site.mediaDir | append: ".webp" %}
            <img class="bg-blur" data-src="{{ imgSrc }}" aria-hidden="true" alt="">
            <img class="main-media zoomable" data-src="{{ imgSrc }}" alt="aperçu">
        {% endif %}
    </div>
</div>
