.about {
    margin: var(--space-xxl) auto;
    width: 95%;
    max-width: 80rem;
    background-color: var(--bg-dim);
    box-shadow: 0 0 var(--shadow-blur-md) var(--shadow-spread-sm) var(--bg-surface);
    border-radius: var(--radius-xxl);
    padding: var(--space-xl);

    & * {
        margin: var(--space-xxs) 0;
        background-color: var(--bg-dim);
    }

    p {
        margin: var(--space-lg) 0;
    }

    h2 {
        padding-top: var(--space-lg);
    }
}

.tab {
    margin: var(--space-lg) auto;
    max-width: 80%;
    border-collapse: collapse;

    thead * {
        background-color: var(--bg-surface);
        text-align: center;
        padding: var(--space-xs);
        font-weight: bold;
    }

    tbody {
        td {
            padding: var(--space-xs);

            &:nth-child(even) {
                &, & * { background-color: var(--bg-dim); }
            }

            &:nth-child(odd) {
                &, & * { background-color: var(--bg-base); }
            }
        }
    }
}

.tabContainer {
    &, & * {
        background-color: var(--bg-abyss);
    }
}