.about-main {
    justify-content: center;
    width: 100%;

    @media (orientation: landscape) {
        display: grid;
        grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
        padding: var(--space-lg);
        align-items: stretch;
    }

    @media (orientation: portrait) {
        display: flex;
        flex-direction: column;
    }

    section {
        padding: var(--space-lg);
        border: 1px solid var(--fg-p);
        border-radius: var(--radius-xl);
        background-color: var(--bg-default);

        @media (orientation: landscape) {
            margin: var(--space-lg);
        }

        @media (orientation: portrait) {
            margin: var(--space-xs);
        }

        .section-title {
            margin-bottom: var(--space-lg);
            font-size: var(--font-xl);
        }
    }

    .the-log {
        .timeline-container {
            display: flex;
            flex-direction: column;
            gap: var(--space-xl);
            margin-top: var(--space-xl);
            position: relative;

            --date-width: var(--space-xxl);
            --checkpoint-size: var(--space-xl);
            --checkpoint-margin-width: var(--space-sm);
            --line-overflow: var(--space-lg);

            &::before {
                content: '';
                position: absolute;
                width: var(--space-xxs);
                transform: translateX(-50%);
                top: calc(-1 * var(--line-overflow));
                bottom: calc(-1 * var(--line-overflow));
                left: calc(var(--date-width) + var(--checkpoint-margin-width) + var(--checkpoint-size)/2);
                --bg-clr: var(--fg-p);
                background: linear-gradient(to bottom,
                    transparent 0%,
                    var(--bg-clr) 20%,
                    var(--bg-clr) 80%,
                    transparent 100%
                );
                filter: opacity(0.8) drop-shadow(0 0 var(--space-xs) var(--fg-p));
                display: block;
                z-index: 1;
            }

            .timeline-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .timeline-date {
                    font-size: var(--font-lg);
                    text-align: right;
                    text-wrap: nowrap;
                    width: var(--date-width);
                    display: flex;
                    flex-flow: column-reverse nowrap;
                }

                .timeline-checkpoint {
                    border: 1px solid var(--fg-p);
                    border-radius: var(--radius-pill);
                    box-shadow: 0 0  var(--shadow-blur-md) 0 var(--fg-p);
                    width: var( --checkpoint-size);
                    height: var(--checkpoint-size);
                    line-height: 0;
                    margin: auto var(--checkpoint-margin-width);

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        width: var(--space-lg);
                        height: var(--space-lg);
                        background: var(--bg-abyss);
                        border: 1px solid var(--fg-p);
                        border-radius: var(--radius-pill);
                        display: block;
                        z-index: 2;
                    }
                }

                .timeline-content {
                    border: 1px solid var(--fg-p);
                    border-radius: var(--radius-lg);
                    padding: var(--space-xs);
                    background-color: var(--bg-abyss);
                    flex: 1;

                    h3 {
                        font-size: var(--font-lg);
                    }

                    p {
                        color: var(--fg-p);
                    }
                }
            }
        }
    }

    .inventory-container {
        .inventory-category {
            display: flex;
            flex-direction: column;
            margin-top: var(--space-xs);
            background-color: var(--bg-deep);
            padding: var(--space-sm);
            border: 1px solid var(--fg-p);
            border-radius: var(--radius-lg);

            .category-subtitle {
                font-size: var(--font-lg);
                margin-bottom: var(--space-xs);
            }

            .inventory-grid {
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;
                justify-content: flex-start;
                gap: var(--space-md);

                .skill-card {
                    max-width: max-content;
                    border: 1px solid var(--fg-p);
                    border-radius: var(--radius-lg);
                    padding: var(--space-xs);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--bg-voidlike);

                    iconify-icon {
                        font-size: var(--font-xl);
                        &[icon="devicon-plain:opengl"],
                        &[icon="logos:c"],
                        &[icon="devicon-plain:cplusplus"],
                        &[icon="devicon-plain:csharp"],
                        &[icon="devicon-plain:sdl"] {
                            font-size: var(--font-xxl);
                        }
                    }

                    .skill-name {
                        font-size: var(--font-md);
                    }
                }
            }
        }
    }
}