.contact {
    margin: var(--space-xxl) auto;
    box-shadow: 0 0 var(--shadow-blur-md) var(--shadow-spread-md) var(--bg-surface);
    padding: var(--space-xxl);
    width: 95%;
    max-width: 80rem;
}

.contact h1 {
    width: 100%;
}

.contact, .contact * {
    background-color: var(--bg-deep);
    border-radius: var(--radius-xxl);
}

.contact form input {
    background-color: var(--bg-surface);
    border-radius: var(--radius-md);
    margin: var(--space-xs) 0;
    padding: var(--space-xs);
    box-sizing: border-box;
}

form {
    margin: var(--space-xl) auto;
    width: 100%;
}

#name, #email, #message {
    width: 100%;
    box-sizing: border-box;
    font-size: var(--font-md);
}

#name, #email {
    height: var(--space-xl);
}

#message {
    height: calc(var(--font-md) * 16);
    resize: vertical;
}

#submit {
    background-color: var(--bg-banner);
    border-color: var(--bg-btn);
    border-radius: var(--radius-lg);
    padding: var(--space-xxs) var(--space-md);
    font-size: var(--font-lg);
    text-align: center;
    margin-top: var(--space-lg);
    cursor: pointer;
}