@import url("variables.css");
@import url("init.css");
@import url("navbar.css");
@import url("footer.css");

*:not([class*="fa-"]) {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: normal;
}

body {
    overflow: hidden;
    height: 100dvh;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

main {
    margin-bottom: var(--space-lg);
}

h1 {
    text-align: center;
    font-size: var(--font-xxl);
}

hr.solid {
    border-top: 1px solid;
    margin: var(--space-xxs) auto;
    color: var(--fg-abyss);

    @media (orientation: landscape) {
        width: 30%;
    }

    @media (orientation: portrait) {
        width: 40%;
    }
}