.footer {
    margin-top: auto;
    width: 100%;
    background-color: var(--bg-footer);
    color: var(--fg-deep);
    text-align: center;

    a, p {
        display: inline-block;
        transition: all .3s ease 0s;
    }

    a[href]:hover {
        border-color: var(--fg-dim);
        color: var(--fg-dim);
        transform: scale(1.05);
    }

    div p {
        color: var(--fg-abyss);
        font-size: var(--font-md);
        font-weight: bold;
        padding: 0 var(--space-xs);
    }

    .social {
        padding: var(--space-xs) 0;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            aspect-ratio: 1;
            border-radius: var(--radius-pill);
            border: 1px solid var(--fg-p);
            font-size: var(--font-xl);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
            overflow: hidden;
            padding: var(--space-xxs);
        }
    }

    .contact {
        a {
            display: inline-flex;
            align-items: stretch;

            iconify-icon {
                font-size: var(--font-lg);
                margin-right: var(--space-xxs);
            }
        }

        p {
            transform: translateY(-10%);
        }
    }

    .copyright {
        color: var(--fg-abyss);
        font-size: var(--font-sm);
        margin-top: var(--space-md);
        margin-bottom: var(--space-xs);
    }
}