*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background-color: var(--bg-default);
    color: var(--fg-default);
}

img, svg, video { max-width: 100%; display: block; }

button, input, select, textarea {
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

a {
    text-decoration-color: currentColor;
    text-decoration-line: none;
    display: block;
    cursor: pointer;
}