.navbar {
    align-items: center;
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    flex-shrink: 0;
    z-index: 100;
    background-color: var(--bg-navbar);

    @media (orientation: landscape) {
        justify-content: space-between;
    }

    @media (orientation: portrait) {
        justify-content: center;
    }

    .name {
        flex: 1;
        font-size: var(--font-xl);
        margin: 0 var(--space-lg);
        transition: all .3s ease 0s;

        &:hover {
            transform: scale(1.1);
        }

        @media (orientation: portrait) {
            display: none;
        }
    }

    .navbar-links {
        flex: 3;
        margin: var(--space-sm) 0;

        ul {
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;

            @media (orientation: landscape) {
                justify-content: right;
            }

            @media (orientation: portrait) {
                justify-content: space-between;
            }
        }

        li {
            font-size: var(--font-lg);
            padding: 0 var(--space-sm);
            background-color: transparent;
            list-style: none;
            transition: all .3s ease 0s;

            &:hover {
                z-index: 1;
                transform: scale(1.2);
            }
        }
    }
}