:root {
    --font-base: 1rem;
    --space-base: 1rem;
    --radius-base: 0.25rem;
    --softness-base: 0.5rem;
    --shadow-blur-base: 1rem;
    --shadow-spread-base: 0.2rem;

    --bg-default: #020937;
    --fg-default: #dcc6bc;
    --primary: #00b5d4;
    --accent: #d45f00;

    --font-sm: calc(var(--font-base) * 0.85);
    --font-md: var(--font-base);
    --font-lg: calc(var(--font-base) * 1.25);
    --font-xl: calc(var(--font-base) * 2);
    --font-xxl: calc(var(--font-base) * 3);

    --space-xxs: calc(var(--space-base) * 0.3);
    --space-xs: calc(var(--space-base) * 0.6);
    --space-sm: calc(var(--space-base) * 0.85);
    --space-md: var(--space-base);
    --space-lg: calc(var(--space-base) * 1.25);
    --space-xl: calc(var(--space-base) * 2);
    --space-xxl: calc(var(--space-base) * 4);

    --radius-sm: calc(var(--radius-base) * 0.5);
    --radius-md: var(--radius-base);
    --radius-lg: calc(var(--radius-base) * 1.75);
    --radius-xl: calc(var(--radius-base) * 4);
    --radius-xxl: calc(var(--radius-base) * 7);
    --radius-pill: 9999px;

    --softness-sm: calc(var(--softness-base) * 0.5);
    --softness-md: var(--softness-base);
    --softness-lg: calc(var(--softness-base) * 2);
    --softness-xl: calc(var(--softness-base) * 4);

    --shadow-blur-sm: calc(var(--shadow-blur-base) * 0.5);
    --shadow-blur-md: var(--shadow-blur-base);
    --shadow-blur-lg: calc(var(--shadow-blur-base) * 2);

    --shadow-spread-sm: calc(var(--shadow-spread-base) * 0.5);
    --shadow-spread-md: var(--shadow-spread-base);
    --shadow-spread-lg: calc(var(--shadow-spread-base) * 1.25);

    --bg-float: color-mix(in srgb, var(--bg-default), var(--primary) 20%);
    --bg-surface: color-mix(in srgb, var(--bg-default), var(--primary) 10%);
    --bg-base: var(--bg-default);
    --bg-dim: color-mix(in srgb, var(--bg-default), black 15%);
    --bg-deep: color-mix(in srgb, var(--bg-default), black 30%);
    --bg-abyss: color-mix(in srgb, var(--bg-default), black 60%);
    --bg-voidlike: color-mix(in srgb, var(--bg-default), black 90%);

    --fg-flare: color-mix(in srgb, var(--fg-default), var(--accent) 85%);
    --fg-glow: color-mix(in srgb, var(--fg-default), var(--accent) 70%);
    --fg-float: color-mix(in srgb, var(--fg-default), var(--accent) 50%);
    --fg-surface: color-mix(in srgb, var(--fg-default), var(--accent) 30%);
    --fg-base: var(--fg-default);
    --fg-dim: color-mix(in srgb, var(--fg-default), var(--bg-default) 20%);
    --fg-deep: color-mix(in srgb, var(--fg-default), var(--bg-dim) 50%);
    --fg-abyss: color-mix(in srgb, var(--fg-default), var(--bg-deep) 70%);

    --btn-fg: var(--fg-default);
    --btn-fg-hover: var(--fg-surface);
    --btn-fg-active: var(--fg-glow);
    --btn-bg: var(--primary);
    --btn-bg-hover: color-mix(in srgb, var(--primary), var(--fg-default) 15%);
    --btn-bg-active: color-mix(in srgb, var(--primary), var(--bg-default) 20%);
    --btn-bg-disabled: color-mix(in srgb, var(--primary), var(--bg-deep) 60%);
    --btn-solid-border-clr: color-mix(in srgb, var(--primary), var(--bg-default) 15%);
    --btn-solid-border-clr-hover: var(--fg-default);
    --btn-solid-border-clr-active: var(--fg-dim);
    --btn-ghost-border-clr: color-mix(in srgb, var(--primary), transparent 50%);
    --btn-ghost-border-clr-hover: color-mix(in srgb, var(--primary), transparent 25%);
    --btn-ghost-border-clr-active: color-mix(in srgb, var(--primary), transparent 10%);
    --btn-badge-border-clr1: color-mix(in srgb, var(--accent), var(--bg-default) 50%);
    --btn-badge-border-clr2: color-mix(in srgb, var(--accent), var(--btn-fg) 50%);

    --bg-img: var(--bg-voidlike);
    --bg-footer: var(--bg-abyss);
    --fg-p: var(--fg-dim);
}