<!DOCTYPE html>
<html lang="fr">
    {% include head.html %}
    <body>
        {% include navbar.html %}
        <div class="content-wrapper">
            <main>
                {{ content }}
            </main>
            {% include footer.html %}
        </div>
        {% include lightbox.html %}
        {% if page.js %}
        {% assign cache_bust = site.time | date: '%Y%m%d%H%M%S' %}
        <script type="module" src="assets/js/{{ page.js }}?v={{ cache_bust }}"></script>
        {% endif %}
    </body>
</html>